<!DOCTYPE html>

<html>

  <head>
    <title>Elvar</title>
    <link href="/static/stylesheets/index.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>

    <div id="header">
      <h1>Aquatic & marine life documentaries</h1>
    </div>

    <div id="button_container">
      <a class="tag-link" href="/filter/dolphins">Dolphins</a>
      <a class="tag-link" href="/filter/whales">Whales</a>
      <a class="tag-link" href="/filter/orcas">Orcas</a>
      <a class="tag-link" href="/filter/fishes">Fishes</a>
      <a class="tag-link" href="/filter/oceans">Oceans</a>
      <a class="tag-link" href="/filter/fisheries">Fisheries</a>
      <a class="tag-link" href="/filter/ocean_exploitation">Ocean exploitation</a>
    </div>

    <div id="result_container">
      {% for video in filtered_videos %}

      <div class="documentary_container">
        <div class="photo_container">
          <img class="cover_image" src="/static/images/default_image.png"/>
        </div>

        <div class="summary_container">
          <h3>{{video["title"]}}</h3>

          {% if video["duration"] %}
            <p>Duration: {{video["duration"]}}</p>
          {% endif %}

          {% if video["official_website"] %}
            <a class="official_website" href={{video["official_website"]}}>Official website</a>
          {% endif %}

          {% if video["watch_online"] %}
            <a class="watch_online" href={{video["watch_online"]}}>Watch online</a>
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>

  </body>

</html>
