<!DOCTYPE html>

<html>

  <head>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48120883-1', 'elvar.ca');
      ga('send', 'pageview');
    </script>

    <title>Elvar</title>
    <link href="/static/stylesheets/index.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>

    <div id="header">
      <h1>Aquatic & marine life documentaries</h1>
    </div>

    <div id="button_container">
      <a class="tag-link" href="/filter/dolphins">Dolphins</a>
      <a class="tag-link" href="/filter/whales">Whales</a>
      <a class="tag-link" href="/filter/orcas">Orcas</a>
      <a class="tag-link" href="/filter/fishes">Fishes</a>
      <a class="tag-link" href="/filter/oceans">Oceans</a>
      <a class="tag-link" href="/filter/fisheries">Fisheries</a>
      <a class="tag-link" href="/filter/ocean_exploitation">Ocean exploitation</a>
    </div>

    <div id="result_container">
      {% for video in filtered_videos %}

      <div class="documentary_container">
        <div class="photo_container">
          {% if video["thumbnail"] %}
          <img class="cover_image" src="/static/images/{{video["thumbnail"]}}"/>
          {% else %}
          <img class="cover_image"
          src="/static/images/resized_default_image.png">
          {% endif %}
        </div>

        <div class="summary_container">
          <h3>{{video["title"]}}</h3>

          {% if video["duration"] %}
            <p>Duration: {{video["duration"]}}</p>
          {% endif %}

          {% if video["official_website"] %}
            <a class="official_website" href={{video["official_website"]}}>Official website</a>
          {% endif %}

          {% if video["watch_online"] %}
            <a class="watch_online" href={{video["watch_online"]}}>Watch online</a>
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>

  </body>

</html>
